*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* navigation section */
.hero-section{}
.Hero{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    padding: 15px;
}

.hero-left{}
.hero-left img{
    width: 100px;
}
.hero-right{
    padding-top: 5px;
}
.hero-right ul {
    display: flex;
    list-style-type: none;;
}
.hero-right ul li
{
    margin: 0px 30px 0px 30px;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
}
.hero-right ul li a {
    text-decoration: none;
    color: #766666;
}
/* navigation end */



/* Hero Section */
.Hero-Section 
{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    background-color: #F9F8F9;
    z-index: 100;
}
.hero-title{}
.hero-title h1 
{
    font-size: 70px;
    color: #094B72;
}
.hero-title p
{
    color: #4F4F4F;
    font-family: sans-serif;
    margin: 15px 0px 15px 0px;
}
.hero-title a 
{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #094B72;
    margin-top: 35px;
    display: inline-block;
}
.group 
{
    margin-top: 5rem;
}
.group p 
{
    color: #4F4F4F;
}
.group img{}


.hero-ing
{
    margin-top: -150px;
}
.hero-ing img{
    width: 24rem;
}