*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* navigation section */
.hero-section{}
.Hero{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    padding: 15px;
}

.hero-left{}
.hero-left img{
    width: 100px;
}
.hero-right{
    padding-top: 5px;
}
.hero-right ul {
    display: flex;
    list-style-type: none;;
}
.hero-right ul li
{
    margin: 0px 30px 0px 30px;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
}
.hero-right ul li a {
    text-decoration: none;
    color: #766666;
}
/* navigation end */



/* Hero Section */
.Hero-Section 
{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    background-color: #F9F8F9;
    z-index: 100;
}
.hero-title{}
.hero-title h1 
{
    font-size: 70px;
    color: #094B72;
}
.hero-title p
{
    color: #4F4F4F;
    font-family: sans-serif;
    margin: 15px 0px 15px 0px;
}
.hero-title a 
{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #094B72;
    margin-top: 35px;
    display: inline-block;
}
.group 
{
    margin-top: 5rem;
}
.group p 
{
    color: #4F4F4F;
}
.group img{}


.hero-ing
{
    margin-top: -150px;
}
.hero-ing img{
    width: 24rem;
}

/* Why Section */

.why 
{
    display: flex;
    padding: 100px 50px  50px;
    background-color: #F2FCFF;
    justify-content: space-around;
}
.why-R 
{
    display: flex;
    flex-wrap: wrap;
}
.why-L
{
margin-top: 150px;
}
.why-L h1 
{
    font-size: 40px;
    font-family: sans-serif;
}
.why-L p 
{
    font-family: sans-serif;
    padding-top: 35px;
    color: #8B8C8C;
}

.why-R{}
.card 
{
    padding: 50px 40px;
    background-color: white;
    margin: 15px;
}
.card i{}
.card h2 {
    color: #424a5b;
    /* padding-left: 10px; */
}
.card p {
    padding-top: 12px;
    color: #8B8C8C;
    
}

/* achievement- Section */

.achievement
{

    background: url('./image/BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.S-hadding {
    text-align: center;
    padding: 30px 0px;
}
.S-hadding h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
}
.S-hadding p {
    padding-top: 10px;
    color: white;
    font-family: auto;
}
.counting {
    display: flex;
    justify-content: space-evenly;
}
.count {
    padding: 40px 0px;
}
.count h1 {
    color: white;
    font-size: 45px;
}
.count p {
    color: white;
    font-family: auto;
    font-size: 16px;
}

/* Complex */

.Complex {
    display: flex;
    justify-content: space-around;
    padding: 80px 0px 0px 0px;
}
.C-L{}
.C-L h1 {
    font-size: 40px;
    color: ##2D2F30;
    padding: 25px 0px;
}
.C-L p {
    padding-bottom: 22px;
    color: #8B8C8C;
}
.C-L a {
    text-decoration: none;
    padding: 14px 25px;
    background: #0F6E8C;
    color: white;
    display: inline-block;
    margin-top: 10px;
    font-weight: bolder;
}
.C-L a i{}
.C-R{}
.C-R img {
    width: 400px;
}


/* footer */

.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: #0F6E8C;
}
.F-L{}
.F-L img {
    height: 50px;
}
.F-R{
    display: flex;
}
.buttone {
    color: white;
    margin: 0px 50px;
}
.buttone h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    padding: 15px 0px;
}
.buttone h2 {
    font-size: 16px;
    font-weight: unset;
    font-family: serif;
    padding: 10px 0px;
    color: #ffffffb8;
}
.reserved {
    padding: 10px 0px;
    background: #294a67;
    color: #ffffffd4;
    margin-left: 0px;
    padding-left: 200px;
}
.reserved h4{}
.reserved h4 p {
    display: inline-block;
    color: #aad3ff;
}
